				<!-- Banner -->
                <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
                    <div class="content">
                        {{ with .Site.Title }}<h1>{{.}}</h1>{{end}}
                        {{ with .Site.Params.subtitle }}<p class="major">{{.}} released for free under the <a target="_blank" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons</a>.</p>{{end}}
                        <p>En esta Web puedes reservar</p>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/" class="button large wide smooth-scroll-middle">Get Started</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        {{ with .Site.Params.logo }}<img src="{{.}}" alt="" />{{end}}
                    </div>
                </section>
