				<!-- Spotlight 02 Right -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Tours y Excursiones</h2>
                        <p>Aquí puedes comprar todas las Excursiones y Tours por cualquier Ciudad al mejor precio , con un servicio garantizado por los mejores profesionales.</p>
                        <ul class="actions stacked">
                            <li><a href="https://www.civitatis.com/es/?aid=10670" target="_blank" rel="noopener" class="button">Ver Ofertas</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/CIVITA.jpg" alt="" />
                    </div>
                </section>
