				<!-- Spotlight 02 Right -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Viajes a Turquia. Injertos de pelo</h2>
                        <p>Organizamos periódicamente grupos a Turquia para Injertos de pelo, aqui puedes encotrar las próximas fechas de salida y las indicaciones para tu consulta sobre el Injerto, asi como la posibilidad de viajar con un acompañante al mejor precio y con la garantía de viajar en grupo con un Guia desde España.</p>
                        <ul class="actions stacked">
                            <li><a href="#" class="button">Ver Ofertas</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/fotoinjertos.jpeg" alt="" />
                    </div>
                </section>
