				<!-- Spotlight 03 Left -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Viajes Tematicos,  The Travel Barbershop</h2>
                        <p>Aquí puedes encontrar las ofertas para Viajes en Grupo, que organizamos desde THE TRAVEL BARBERSHOP, Cuba , Punta Cana, Brasil y el Camino de Santiago , son algunos de los programas que tenemos previstos para este año.</p>
                        <ul class="actions stacked">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/temati.jpg" alt="" />
                    </div>
                </section>
