				<!-- Spotlight 02 Right -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Camino de Santiago</h2>
                        <p>Escoge Tú mejor opción y vive una Experiencia Única en el CAMINO DE SANTIAGO , Cuidamos todos  los detalles para hacer tu CAMINO  con todas las garantias. </p>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/viaje/camino-santiago-ultimos-100-km-camino-frances-autoguiado-7/?country=ccaa_galicia" target="_blank" rel="noopener" class="button">Últimos 100 Km * Desde 465 € * 7 Días</a></li>
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/viaje/camino-santiago-camino-ingles-desde-ferrol-autoguiado-1/?country=ccaa_galicia" target="_blank" rel="noopener" class="button">Camino Inglés* Desde 551 €* 7 Días</a></li>
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/viaje/camino-santiago-ultimos-100-km-camino-frances-con-etapa-en-melide-autoguiado-7/?country=ccaa_galicia" target="_blank" rel="noopener" class="button">Camino Francés * Desde 526 €* </a></li>
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/viaje/camino-santiago-camino-portugues-por-el-interior-desde-tui-autoguiado/?country=ccaa_galicia" target="_blank" rel="noopener" class="button">Camino Portugués * Desde 577 €</a></li>
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/viaje/camino-santiago-frances-en-coche/?country=ccaa_navarra" target="_blank" rel="noopener" class="button">Camino en Coche * Desde 710 €</a></li>
                        </ul>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/viaje/camino-de-santiago-ultimos-100-km-desde-sarria-en-hotel-en-grupo/?country=ccaa_galicia" target="_blank" rel="noopener" class="button">Camino en Grupo * Desde 615 € </a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/foto6.webp" alt="" />
                    </div>
                </section>
