				<!-- Spotlight -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
                    <div class="content">
                        <h2>Safaris por Internet</h2>
                        <p>Somos especialistas en el Este de Africa desde 1996 , te ofrecemos todos  los servicios para hacer un SAFARI o cualquier estancia o combinado con todas las garantias desde que llegas, hasta el momento de tú salida de Africa.</p>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/viajes/?country=ke" target="_blank" rel="noopener" class="button">Learn More</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/BIWANA.jpg" alt="" />
                    </div>
                </section>
