				<!-- Spotlight 02 Right -->
                <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Spotlight</h2>
                        <p>This is also a <a href="https://www.w3schools.com/" target="_blank">Link 1</a> wersd <a href="https://www.w3schools.com/" target="_blank">Link 2</a> lds</p>
                    </div>
                    <div class="image">
                        <img src="images/santiago.jpg" alt="" />
                    </div>
                </section>
