				<!-- Spotlight 03 Left -->
                <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
                    <div class="content">
                        <h2>Dinos Viajeros</h2>
                        <p>Dinosaurios Viajeros ofrece experiencias exclusivas para mayores de 55 años, con presentaciones de expertos y viajes en grupo con todo incluido. Descubre destinos fascinantes y comparte aventuras inolvidables con otros viajeros seniors.</p>
                        <ul class="actions stacked">
                            <li><a href="https://viajesarroyo.travelersense.com/viajes/?tags=self-drive" target="_blank" rel="noopener" class="button">Ver Ofertas</a></li>
                        </ul>
                    </div>
                    <div class="image">
                        <img src="images/logo dinos felizmente.jpg" alt="" />
                    </div>
                </section>
