<!-- Spotlight 00 Right -->
        <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
            <div class="content">
                <h2>Seguros de viaje</h2>
                <p>Compra aquí tu seguro de viaje con un 10% de descuento.</p>
                <ul class="actions stacked">
                    <li><a href="https://www.intermundial.es/afiliados/seguros-de-viaje-recomendado?tduid=a2505c6202eb9ec08ada064bcce8aa48&utm_source=Tradedoubler&utm_medium=1&utm_campaign=General&utm_term=3349655&utm_content=3349655" target="_blank" rel="noopener" class="button">Ver Ofertas</a></li>
                </ul>
            </div>
            <div class="image">
                <img src="images/INTERMUNDIAL3.jpg" alt="" />
            </div>
        </section>
